<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVn3XcPYNr7ld3ptJ3z0VmwsuBW1PS5Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>531472058650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendorApp</string>
	<key>PROJECT_ID</key>
	<string>assignment-app-fe33f</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-app-fe33f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531472058650:ios:482c778e92f8aa416844a3</string>
</dict>
</plist>